<a href="https://colab.research.google.com/github/vamvieira/Aulas_Senai/blob/main/Listas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# CRIAR LISTA VAZIA


lista1 = []
lista2 = list()


print(type(lista1))
print(type(lista2))

<class 'list'>
<class 'list'>

In [2]:
# MANIPULAÇÃO DE LISTAS


bancos = ['Banco do Brasil', 'CEF', 'Santander']
print(bancos)
print(bancos[1])


# SUBSTITUIR ITEM DA LISTA
bancos[1] = 'Itaú'
print(bancos)


# SUBSTITUIR ÚLTIMO ITEM DA LISTA
bancos[-1] = 'C6'
print(bancos)


# AGREGAR ITENS A LISTA
bancos = bancos + ['Safra']
print(bancos)


# AGREGAR ITENS A LISTA (Operador de atribuição)
bancos += ['Bradesco', 'Nubank']
print(bancos)

['Banco do Brasil', 'CEF', 'Santander']
CEF
['Banco do Brasil', 'Itaú', 'Santander']
['Banco do Brasil', 'Itaú', 'C6']
['Banco do Brasil', 'Itaú', 'C6', 'Safra']
['Banco do Brasil', 'Itaú', 'C6', 'Safra', 'Bradesco', 'Nubank']

In [3]:
# MÉTODOS PARA LISTAS


lista = [4, 5, 3, 5]
print(lista)


# ADICIONAR ITENS A LISTA
lista.append(2)
print(lista)


# ADICIONAR VALOR NO ÍNDICE ESPECÍFICO
lista.insert(2, -3)
print(lista)


# CONTAR VALORES
print(lista.count(5))


# VERIFICAR TAMANHO DA LISTA
print(len(lista))


# OBTER ÍNDICE DO ITEM DA LISTA
print(lista.index(5))


# REVERTER ITENS DA LISTA
lista.reverse() # Não atribuir a uma variável
print(lista)


# ORDENAR A LISTA
lista.sort() # Não atribuir a uma variável
print(lista)


# REMOVER ITEM ATRAVÉS DO VALOR
lista.remove(5)
print(lista)


# REMOVER ÚLTIMO ITEM DA LISTA (recebe valor removido)
removeu = lista.pop()
print(removeu)
print(lista)


# REMOVER INTERVALO OU ÍNDICE
del lista[1:3]
print(lista)


# LIMPAR LISTA
lista.clear()
print(lista)

[4, 5, 3, 5]
[4, 5, 3, 5, 2]
[4, 5, -3, 3, 5, 2]
2
6
1
[2, 5, 3, -3, 5, 4]
[-3, 2, 3, 4, 5, 5]
[-3, 2, 3, 4, 5]
5
[-3, 2, 3, 4]
[-3, 4]
[]

In [46]:
# LISTA DENTRO DE LISTA


compras = [10.2, 3.35, 16.3, ['Tomate', 'Cebola', 'Pimentão']]
print(compras)
print(compras[3])

[10.2, 3.35, 16.3, ['Tomate', 'Cebola', 'Pimentão']]
['Tomate', 'Cebola', 'Pimentão']

In [47]:
print(compras[3][1])

Cebola

In [99]:
print(f'O {compras[3][0]} custa R${compras[0]:,.2f}'
      f'\nA {compras[3][1]} custa R${compras[1]:,.2f}'
      f'\nO {compras[3][2]} custa R${compras[2]:,.2f}')
#print(f'A soma total é: {list, compras.sum([0][1][2])}')
print(f'A soma total é: {compras[0]+compras[1]+compras[2]:,.2f}')

O Tomate custa R$10.20
A Cebola custa R$3.35
O Pimentão custa R$16.30
A soma total é: 29.85

In [101]:
#Do professor
# EXEMPLO


compras = [10.2, 3.35, 16.3, ['Tomate', 'Cebola', 'Pimentão']]


print(f"O {compras[3][0]} custa R$ {compras[0]:,.2f}")
print(f"A {compras[3][1]} custa R$ {compras[1]:,.2f}")
print(f"O {compras[3][2]} custa R$ {compras[2]:,.2f}")


print(f"\nTotal R$ {compras[0]+compras[1]+compras[2]:,.2f}")

O Tomate custa R$ 10.20
A Cebola custa R$ 3.35
O Pimentão custa R$ 16.30

Total R$ 29.85

In [ ]:
print(compras[3][0],compras[0])
print(compras[3][1],compras[1])
print(compras[3][2],compras[2])

In [100]:
# PERCORRER UMA LISTA


roupas = ['Camiseta', 'Bermuda', 'Calça', 'Meia']
for peca in roupas:
    print(peca)

Camiseta
Bermuda
Calça
Meia

In [102]:
# PERCORRER UMA LISTA ATRAVÉS DO ÍNDICE


roupas = ['Camiseta', 'Bermuda', 'Calça', 'Meia']
for i in range(len(roupas)):
    print(i+1, roupas[i])

1 Camiseta
2 Bermuda
3 Calça
4 Meia

In [103]:
# PERCORRER UMA LISTA COM ÍNDICE E VALOR


roupas = ['Camiseta', 'Bermuda', 'Calça', 'Meia']
for i, peca in enumerate(roupas):
    print(i+1, peca)

1 Camiseta
2 Bermuda
3 Calça
4 Meia

In [104]:
# VERIFICAR SE UMA LISTA POSSUI ITENS


letras = ['a', 'b', 'c', 'd', 'e', 'f']
letra = input("Digite a letra: ").lower()


if letra in letras:
    print("\033[32mEstá")
else:
    print("\033[31mNão está")

Digite a letra: g
Não está

In [105]:
# VERIFICAR SE UMA LISTA NÃO POSSUI ITENS


letras = ['a', 'b', 'c', 'd', 'e', 'f']
letra = input("Digite a letra: ").lower()


if letra not in letras:
    print("\033[31mNão está")
else:
    print("\033[32mEstá")

Digite a letra: b
Está

In [129]:
#################### DESAFIOS ###################

# DESAFIO 01
"""
Faça um programa que leia 5 valores numéricos e
guarde-os em uma lista. No final, mostre qual foi
o maior e o menor valor digitado e as suas respectivas posições na lista.
"""

lista_num = []
for i in range(1, 6):
  num = int(input(f'Digite o {i}º número:'))
  lista_num.append(num)

print(f'\nMaior nº {max(lista_num)} na posição {lista_num(max(lista_num))+1}')

Digite o 1º número:1
Digite o 2º número:2
Digite o 3º número:3
Digite o 4º número:4
Digite o 5º número:5

In [ ]:
# DESAFIO 02
"""
Crie um programa onde o usuário possa digitar vários valores
numéricos e cadastre-os em uma lista. Caso o número já exista
lá dentro, ele não será adicionado. No final serão exibidos
todos os valores únicos digitados, em ordem crescente.
"""

In [ ]:
# DESAFIO 03
"""
Crie um programa que vai ler vários números e colocar em uma lista.
Depois disso, mostre:
A) Quantos números foram digitados.
B) A lista de valores, ordenada de forma decrescente.
C) Se o valor 5 foi digitado e está ou não na lista.
"""

In [ ]:
# DESAFIO 04
"""
Crie um programa que vai ler vários números e colocar em uma lista.
Depois disso, crie duas listas extras que vão conter apenas os
valores pares e os valores ímpares digitados, respectivamente.
Ao final, mostre o conteúdo das três listas geradas.
"""

In [ ]:
# DESAFIO 05 BÔNUS
"""
Crie um programa onde o usuário possa digitar cinco valores numéricos e cadastre-os em uma lista,
coloque a lista em ordem sem usar o método sort().
No final mostre a lista ordenada na tela.
DICA: Atribuição simultânea de variáveis -> a, b = b, a
"""

In [ ]:
# DESAFIO 06 BÔNUS
"""
Dada a lista abaixo, contendo 3 vetores em cada um de seus elementos, iterar por todos os seus elementos,
calculando a soma de todos os elementos presentes na lista.


lista_matrizes = [
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]]
]
Resultado esperado: 378
"""

In [ ]:
# DESAFIO 07 BÔNUS
"""
Dada a lista com 32 Times, faça o sorteio para outras duas listas (A e B).
Ao final, cada nova lista deve conter 16 times.
random.choice(times)
"""
import random
times=["Flamengo", "Palmeiras", "São Paulo", "Athletico-PR", "Atlético-MG" ,"Corinthians" ,"Fluminense", "Grêmio", "Fortaleza", "Internacional", "Bahia", "Botafogo", "Red Bull Bragantino", "Atlético-GO", "Ceará", "Cuiabá",
        'Goiás', 'Vasco', 'Juventude', 'Sport', 'CRB', 'Vitória', 'Criciúma', 'Sampaio Corrêa' ,'Operário-PR' ,'Botafogo-SP', 'Brusque', 'Ypiranga-RS', 'América-RN', 'Amazonas', 'Águia de Marabá', 'Sousa-PB']