<a href="https://colab.research.google.com/github/vamvieira/Aulas_Senai/blob/main/TIPOS_DE_DADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Dados

In [ ]:
# TIPOS NUMÉRICOS (int | float)


x = 10        # Inteiro
y = -1        # Inteiro negativo
z = -5.29     # Decimal negativo (separador é ponto e não vírgula)
PI = 3.1415   # Decimal


print(x)
print(y)
print(z)
print(PI)

10
-1
-5.29
3.1415

In [ ]:
# TIPO CARACTER | STRINGS (str)


nome = 'Vitor'
escola = "SENAI Ary Torres"


print(nome)
print(escola)


print()
print(escola)
print('\n', escola)
print('\n', escola[10])

Vitor
SENAI Ary Torres

SENAI Ary Torres

 SENAI Ary Torres

 T

In [ ]:
# TIPOS LÓGICOS (bool)


continuar = True
parar = False
casado = True


print(continuar)
print(parar)
print(casado)

True
False
True

In [ ]:
# IDENTIFICAR TIPOS DE VARIÁVEIS/CONSTANTES


print(type(x))
print(type(PI))
print(type(nome))
print(type(casado))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# DECLARAÇÃO DE VARIÁVEIS


texto1 = '2'
texto2 = str(2)
numero1 = 3
numero2 = int(3)
decimal1 = float(3)
decimal2 = 3.0
logico = bool(False)


print(texto1)
print(texto2)
print(numero1)
print(numero2)
print(decimal1)
print(decimal2)
print(logico)

2
2
3
3
3.0
3.0
False

In [ ]:
# ANÁLISE DE STRINGS (str)


n = '5'


print(n.isnumeric())   # Numérico
print(n.isalpha())     # Alfabético
print(n.isalnum())     # Alfanumérico
print(n.isupper())     # Maiúscula
print(n.islower())     # Minúscula
print(n.istitle())     # Primeira maiúscula
print(n.isdecimal())   # Numérico
print(n.isspace())     # Espaço

True
False
True
False
False
False
True
False

In [ ]:
# EXEMPLO


num = input("Digite um número: ")
if num.isnumeric():
    num = int(num)
else:
    print("Não é número!")


print(type(num))

Digite um número: 14,02
Não é número!
<class 'str'>

In [ ]:
# ENTRADA DE DADOS (input)


numeroInteiro = int(input("Digite um número inteiro: "))
print(numeroInteiro)


numeroDecimal = float(input("\nDigite um número decimal: ")) # Sepador de decimal: . (não vírgula)
print(numeroDecimal)


valorLogico = bool(input("Digite algo: "))
print(valorLogico)


# Não há necessidade declarar str() para o input()
texto = str(input("\nDigite um valor alfanumérico:\n"))
print(texto)

In [ ]:
# CONSTANTES


PI = 3.1415
GRAVIDADE = 9.81


print("\nValor de PI:", PI, '\n\n\n')
print("\nValor da gravidade:", GRAVIDADE)

Valor de PI: 3.1415




Valor da gravidade: 9.81

In [ ]:
# CORES
"""
\033[ESTILO;FONTE;FUNDOm TEXTO \033[0m
\033[m    \033[0m


Estilos: 0 nenhum | 1 negrito | 3 itálico | 4 sublinhado
"""


print("\033[1;33;45m   TEXTO   \033[0m")


print("\033[30m CINZA")
print("\033[31m VERMELHO")
print("\033[32m VERDE")
print("\033[33m AMARELO")
print("\033[34m CIAN")
print("\033[35m MAGENTA")
print("\033[36m AZUL")
print("\033[37m BRANCO")


print("\033[40m CINZA")
print("\033[41m VERMELHO")
print("\033[42m VERDE")
print("\033[43m AMARELO")
print("\033[44m CIAN")
print("\033[45m MAGENTA")
print("\033[46m AZUL")
print("\033[47m BRANCO")


print("\033[1;2;3;4;33;45m   TEXTO   \033[0m")

   TEXTO
 CINZA
 VERMELHO
 VERDE
 AMARELO
 CIAN
 MAGENTA
 AZUL
 BRANCO
 CINZA
 VERMELHO
 VERDE
 AMARELO
 CIAN
 MAGENTA
 AZUL
 BRANCO
   TEXTO

In [ ]:
# TRABALHAR COM EMOJIS (Win+.)


print('👨')
print('👽')

👨
👽

In [ ]:
# COLUNAS COM PREENCHIMENTO E ALINHAMENTO


print(" CENTRALIZADO ".center(30, '-'))
print(" DIREITA".rjust(30, '-'))
print("ESQUERDA ".ljust(30, '-'))

-------- CENTRALIZADO --------
---------------------- DIREITA
ESQUERDA ---------------------

In [ ]:
# ALINHAMENTO PARA F STRINGS


print(f"| {'Unidade':>20} | {'5':^20} |")
print(f"| {'Unidade':^20} | {'5':^20} |")
print(f"| {'Unidade':<20} | {'5':^20} |")

|              Unidade |          5           |
|       Unidade        |          5           |
| Unidade              |          5           |

In [ ]:
# MULTIPLICAÇÃO DE STRINGS


sus = '#'
estrela = '*'


print(sus*2, estrela*10, sus*2)
print('='*16)

## ********** ##
================

In [ ]:
# CONCATENAÇÃO (soma, junta textos)
texto1 = 'SENAI'
texto2 = 'ARY'
texto3 = 'TORRES'
escola = texto1+' '+texto2+' '+texto3


print('\n\n', escola)

 SENAI ARY TORRES

# DESAFIOS

In [ ]:
#DESAFIO 1
"""
Crie um programa para efetuar a leitura de um número inteiro e
apresentar o resultado do quadrado desse número
"""
num = int(input("Escreva um número:"))
calc = (num**2)
print(calc)

Escreva um número:6
36

In [ ]:
#SIMPLIFICADO 1
num = int(input("Escreva um número:"))
print(num**2)

#simplificado 2
print(int(input("Escreva um número:"))**2)

#Outra forma
num = int(input("Digite num:"))
quad = num**2
print("\n O quad é:", quad)

#Merlho versão com o F String
numerol = int(input("Digite num:"))
quadradao = numerol**2
nome = "Vitor"
print(f"\n{nome} diz qe o quadrado de {numerol} é {quadradao}!")

Escreva um número:6
36
Escreva um número:7
49
Digite num:8

 O quad é: 64
Digite num:9

Vitor diz qe o quadrado de 9 é 81!

In [ ]:
#Desafio 2
"""
Escreva um programa que leia dois caracteres e imprima-os na tela da seguinte forma:
O usuário digitou (caractere1) e (caractere2)!.
"""

a = 10
b = 25
print("O usuário digitou", b, "e", a,"!")

a = input("Digite o caractere 1:")
b = input("Digite o caractere 2:")

print(f"\nO usuário digitou ({a})e ({b})!")

O usuário digitou 25 e 10 !
Digite o caractere 1:50
Digite o caractere 2:5-

O usuário digitou (50)e (5-)!

In [ ]:
# DESAFIO 03
"""
Crie um programa que leia um número inteiro e imprimir seu sucessor e seu antecessor
"""
a = 10
print(a+1, a-1)

num_inteiro = int(input("Digite um numero inteiro: "))
print("O resultado do Sucessor é", num_inteiro+1, "e o Antecessor é", num_inteiro-1)

11 9
Digite um numero inteiro: 10
O resultado do Sucessor é 11 e o Antecessor é 9

In [ ]:
# DESAFIO 04
"""
Crie um programa para entrar com a base e a altura de um retângulo e imprimir
respectivamente o perímetro e a área correspondente.
"""

base = int(input("Informe o valor da base:"))
altura = int(input("Informe o valor da altura"))
area = base*altura
perimetro = (2*(base + altura))
print("Seu perímetro é", perimetro)
print("Sua área é", area)

Informe o valor da base:10
Informe o valor da altura10
Seu perímetro é 40
Sua área é 100

In [ ]:
# DESAFIO 05
"""
Crie um programa que dados o valor, a taxa e o tempo, efetuar o cálculo do valor de
uma prestação em atraso.
FÓRMULA: valor da prestação + (valor da prestação * (taxa / 100) * tempo)
"""

vp = int(input("Digite o valor da prestação:" ))
taxa = int(input("Digite o valor da taxa:" ))
tempo = int(input("Qual o tempo de atraso:" ))
calculo = vp + (vp*(taxa/100)*tempo)
print("O valor a ser pago é de R$", calculo)

Digite o valor da prestação:500
Digite o valor da taxa:50
Qual o tempo de atraso:34
O valor a ser pago é de R$ 9000.0

In [ ]:
# DESAFIO 06
"""
Dado a nota das provas P1, P2 e P3, calcular a média (aritmética)
das notas do aluno.
"""

p1 = int(input("Digite o valor da prova 1:" ))
p2 = int(input("Digite o valor da prova 2:" ))
p3 = int(input("Digite o valor da prova 3:" ))
media = ((p1+p2+p3)/3)
print(media)

Digite o valor da prova 1:8
Digite o valor da prova 2:6
Digite o valor da prova 3:5
6.333333333333333

In [ ]:
# DESAFIO 07
"""
Escreva um código que calcule a hipotenusa de um triângulo retângulo, cujos catetos são:
a = 4
b = 3
"""
import math

cat_a = float(input("Digite o valor do cateto A: "))
cat_b = float(input("Digite o valor do cateto B: "))

hip = math.sqrt(cat_a**2 + cat_b**2)
print("A hipotenusa é:", hip)

#Feguda Forma

cateto1 = float(input("Introduza a medida do primeiro cateto: "))
cateto2 = float(input("Introduza a medida do segundo cateto: "))
hipotenusa = (cateto1**2 + cateto2**2)**0.5
print("A hipotenusa do triângulo é:", hipotenusa)

#Original

cateto1 = 4
cateto2 = 3
hipotenusa = (4**2 + 3**2)**0.5
print("A hipotenusa do triângulo é:", hipotenusa)

In [17]:
a = 4
b = 3
print((a**2+b**2)**(1/2))
print((a**2 + b**2)**0.5)

5.0
5.0

In [25]:
# DESAFIO 08
"""
Solicite ao usuário o valor do salário atual, em seguida solicite o
percentual de aumento e imprima o valor do salário atualizado.
"""

sa_atual = int(input("Informe seu salário atual: "))
per = int(input("Iforme seu percentual de aumento:"))
sa_att = sa_atual + (sa_atual*per/100)
print("Seu salário atualizado é:", sa_att)

Informe seu salário atual: 3000
Iforme seu percentual de aumento:10
Seu salário atualizado é: 300.0

In [44]:
# DESAFIO 09
"""
Crie um programa e declare uma constante PI utilizando 4 casas
decimais. Dados o raio e a altura, calcule e apresente o volume de um
objeto cilíndrico.
Fórmula: volume = PI * r² * altura
"""

PI = 3.1415
raio = float(input("Informe o valor do raio: "))
altura = float(input("Informe o valor da altura: "))
calc_obj = PI *(raio**2)* altura
print(f"\nO valor do seu volume cilíndrico é de: {calc_obj:,.1f}cm³")

Informe o valor do raio: 5
Informe o valor da altura: 5

O valor do seu volume cilíndrico é de: 392.7cm³

In [49]:
# DESAFIO 10
"""
Imprima uma árvore de Natal como no exemplo utilizando a multiplicação
de Strings.
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
         ***
         ***
         ***
"""

#Preguiça
print("""
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
         ***
         ***
         ***
""")


#Do professor
e = ' '
p = '*'


print(e*11, p*1)
print(e*10, p*3)
print(e*9, p*5)
print(e*8, p*7)
print(e*7, p*9)
print(e*6, p*11)
print(e*5, p*13)
print(e*4, p*15)
print(e*3, p*17)


print(e*10, p*3)
print(e*10, p*3)
print(e*10, p*3)

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
         ***
         ***
         ***

            *
           ***
          *****
         *******
        *********
       ***********
      *************
     ***************
    *****************
           ***
           ***
           ***

In [55]:
# DESAFIO 11
"""
Reproduza a árvore do exercício 10, colocando a cor verde para a copa
e vermelha para a base
"""
e = ' '
p = '*'


print("\033[32m",e*10, p*1)
print(e*10, p*3)
print(e*9, p*5)
print(e*8, p*7)
print(e*7, p*9)
print(e*6, p*11)
print(e*5, p*13)
print(e*4, p*15)
print(e*3, p*17, "\033[31m")

print(e*10, p*3)
print(e*10, p*3)
print(e*10, p*3)

            *
           ***
          *****
         *******
        *********
       ***********
      *************
     ***************
    *****************
           ***
           ***
           ***

In [56]:
# DESAFIO 12
"""
Construir um cardápio utilizando colunas e autopreenchimento.
"""

print('\033[33;42m', " CARDÁPIO ".center(40, '#'), '\033[0m')
print()
print("Pastel".ljust(34, '.'), "R$ 6,50")
print("Coxinha".ljust(34, '.'), "R$ 5,50")
print("Risoles de queijo".ljust(34, '.'), "R$ 7,50")

 ############### CARDÁPIO ###############

Pastel............................ R$ 6,50
Coxinha........................... R$ 5,50
Risoles de queijo................. R$ 7,50

In [83]:
# DESAFIO 12 Segunda opção

print('\033[1;33;42m'," CARDÁPIO ".center(40, '#'),'\033[0m\n')


print(f"{'Pastel'.ljust(32, '.')}{'R$ 6,50'.rjust(10, '.')}")
print(f"{'Coxinha'.ljust(32, '.')}{'R$ 16,50'.rjust(10, '.')}")
print(f"{'Risoles de queijo'.ljust(32, '.')}{'R$ 156,50'.rjust(10, '.')}")

 ############### CARDÁPIO ###############

Pastel.............................R$ 6,50
Coxinha...........................R$ 16,50
Risoles de queijo................R$ 156,50

In [84]:
#O ljust ou rjust apenas conta 10 caracteres e não acresenta ou seja o valor de R$ 6,50 + 3
print(f"{'Pastel'.ljust(32, '.')}{'R$ 6,50'.rjust(10, '.')}")

Pastel.............................R$ 6,50

In [ ]:
# DESAFIO 13

"""
Com base no DESAFIO 12, faça com que o usuário digite
um produto e um valor para acrescentar no cardápio.
"""

produto = input("Digite o nome do produto: ")
valor = 'R$' + input("Digite o valor do produto R$: ")

print('\n\033[1;33;42m'," CARDÁPIO ".center(40, '#'),'\033[0m\n')

print(f"{'Pastel'.ljust(32, '.')}{'R$ 6,50'.rjust(10, '.')}")
print(f"{'Coxinha'.ljust(32, '.')}{'R$ 16,50'.rjust(10, '.')}")
print(f"{'Risoles de queijo'.ljust(32, '.')}{'R$ 156,50'.rjust(10, '.')}")
print(f"{produto.ljust(32, '.')}{valor.rjust(10, '.')}")