<a href="https://colab.research.google.com/github/vamvieira/Aulas_Senai/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
################## 09 TUPLAS #######################

linguagens = ('Assembly', 'JAVA', 'Python', 'C#')
print(linguagens)


linguagens2 = 'Assembly', 'JAVA', 'Python', 'C#'
print(linguagens2)
print(type(linguagens2))

('Assembly', 'JAVA', 'Python', 'C#')
('Assembly', 'JAVA', 'Python', 'C#')
<class 'tuple'>

In [2]:
# ACESSOS PARA TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


print(lanches[0])   # Primeiro item
print(lanches[-1])  # Último item
print(lanches[1:3]) # Dois itens
print(lanches[1:])  # A partir do segundo
print(lanches[:2])  # Até o segundo
print(lanches[:])   # Todos

Hamburger
Pizza
('Pastel', 'Coxinha')
('Pastel', 'Coxinha', 'Pizza')
('Hamburger', 'Pastel')
('Hamburger', 'Pastel', 'Coxinha', 'Pizza')

In [ ]:
# GERA ERRO (TUPLA É IMUTÁVEL)


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
lanches[0] = 'Hotdog

In [4]:
# PERCORRER UMA TUPLA


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for lanche in lanches:
    print(lanche)

Hamburger
Pastel
Coxinha
Pizza

In [5]:
# PERCORRER UMA TUPLA POR ÍNDICE


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for i in range(len(lanches)):
    print(lanches[i])

Hamburger
Pastel
Coxinha
Pizza

In [6]:
# PERCORRER UMA TUPLA POR ÍNDICE E VALORES


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for posicao, lanche in enumerate(lanches):
    print(f"{posicao+1} | {lanche}")

1 | Hamburger
2 | Pastel
3 | Coxinha
4 | Pizza

In [7]:
# CONVERTER LISTA EM TUPLA


lista = list()
lista = [1, 2, 3, 4, 5]


tupla = tuple(lista)
print(tupla)
print(type(tupla))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
# MÉTODO SORTED


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


ordenar = tuple(sorted(lanches))
print(ordenar)
print(type(ordenar))

('Coxinha', 'Hamburger', 'Pastel', 'Pizza')
<class 'tuple'>

In [11]:
# MÉTODO DEL


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
del(lanches)
print(lanches)

<class 'tuple'>

In [12]:
# CONCATENAR TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
doces = ('Pudim', 'Bolo', 'Sorvete')


unificada = lanches + doces


print(unificada)

('Hamburger', 'Pastel', 'Coxinha', 'Pizza', 'Pudim', 'Bolo', 'Sorvete')

## Desafios

In [26]:
# DESAFIO 01

"""
Crie um programa que tenha uma tupla totalmente preenchida com
uma contagem por extenso, de um até vinte.


Seu programa deverá ler um número pelo teclado (entre 1 e 20) e
mostrá-lo por extenso.
"""
numeros_extenso = (
    'Um',
    'Dois',
    'Três',
    'Quatro',
    'Cinco',
    'Seis',
    'Sete',
    'Oito',
    'Nove',
    'Dez',
    'Onze',
    'Doze',
    'Treze',
    'Quatorze',
    'Quinze',
    'Dezesseis',
    'Dezessete',
    'Dezoito',
    'Dezenove',
    'Vinte')

print(f"\nSeu número por extenso: {numeros_extenso[int(input('Digite um nº entre 1 e 20: '))-1]}")

Digite um nº entre 1 e 20: 5

Seu número por extenso: Cinco