<a href="https://colab.research.google.com/github/vamvieira/Aulas_Senai/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
################## 09 TUPLAS #######################

linguagens = ('Assembly', 'JAVA', 'Python', 'C#')
print(linguagens)


linguagens2 = 'Assembly', 'JAVA', 'Python', 'C#'
print(linguagens2)
print(type(linguagens2))

('Assembly', 'JAVA', 'Python', 'C#')
('Assembly', 'JAVA', 'Python', 'C#')
<class 'tuple'>

In [ ]:
# ACESSOS PARA TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


print(lanches[0])   # Primeiro item
print(lanches[-1])  # Último item
print(lanches[1:3]) # Dois itens
print(lanches[1:])  # A partir do segundo
print(lanches[:2])  # Até o segundo
print(lanches[:])   # Todos

Hamburger
Pizza
('Pastel', 'Coxinha')
('Pastel', 'Coxinha', 'Pizza')
('Hamburger', 'Pastel')
('Hamburger', 'Pastel', 'Coxinha', 'Pizza')

In [ ]:
# GERA ERRO (TUPLA É IMUTÁVEL)


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
lanches[0] = 'Hotdog

In [ ]:
# PERCORRER UMA TUPLA


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for lanche in lanches:
    print(lanche)

Hamburger
Pastel
Coxinha
Pizza

In [ ]:
# PERCORRER UMA TUPLA POR ÍNDICE


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for i in range(len(lanches)):
    print(lanches[i])

Hamburger
Pastel
Coxinha
Pizza

In [ ]:
# PERCORRER UMA TUPLA POR ÍNDICE E VALORES


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for posicao, lanche in enumerate(lanches):
    print(f"{posicao+1} | {lanche}")

1 | Hamburger
2 | Pastel
3 | Coxinha
4 | Pizza

In [ ]:
# CONVERTER LISTA EM TUPLA


lista = list()
lista = [1, 2, 3, 4, 5]


tupla = tuple(lista)
print(tupla)
print(type(tupla))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
# MÉTODO SORTED


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


ordenar = tuple(sorted(lanches))
print(ordenar)
print(type(ordenar))

('Coxinha', 'Hamburger', 'Pastel', 'Pizza')
<class 'tuple'>

In [ ]:
# MÉTODO DEL


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
del(lanches)
print(lanches)

<class 'tuple'>

In [ ]:
# CONCATENAR TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
doces = ('Pudim', 'Bolo', 'Sorvete')


unificada = lanches + doces


print(unificada)

('Hamburger', 'Pastel', 'Coxinha', 'Pizza', 'Pudim', 'Bolo', 'Sorvete')

## Desafios

In [ ]:
# DESAFIO 01

"""
Crie um programa que tenha uma tupla totalmente preenchida com
uma contagem por extenso, de um até vinte.


Seu programa deverá ler um número pelo teclado (entre 1 e 20) e
mostrá-lo por extenso.
"""
numeros_extenso = (
    'Um',
    'Dois',
    'Três',
    'Quatro',
    'Cinco',
    'Seis',
    'Sete',
    'Oito',
    'Nove',
    'Dez',
    'Onze',
    'Doze',
    'Treze',
    'Quatorze',
    'Quinze',
    'Dezesseis',
    'Dezessete',
    'Dezoito',
    'Dezenove',
    'Vinte')

print(f"\nSeu número por extenso: {numeros_extenso[int(input('Digite um nº entre 1 e 20: '))-1]}")

Digite um nº entre 1 e 20: 5

Seu número por extenso: Cinco

In [ ]:
# DESAFIO 01 v2


numero = int(input('Digite um nº entre 1 e 20: '))-1
print(f"\nSeu número por extenso: {numeros_extenso[numero]}")

In [4]:
# DESAFIO 02
"""
Crie um programa que gere cinco números aleatórios para uma tupla.
Exiba a listagem de números gerados, indique o menor e o maior valor.
"""

import random
num_aleatorio = tuple(random.randint(1, 100) for _ in range(5))
print(num_aleatorio)
print("Maior:", max(num_aleatorio))
print("Menor:", min(num_aleatorio))

(44, 56, 44, 9, 95)
Maior: 95
Menor: 9

In [9]:
# DESAFIO 03
"""
Desenvolva um programa que leia quatro números inteiros pelo teclado e guarde-os em uma tupla. No final, mostre:
    A) Quantas vezes apareceu o valor 9.
    B) Em que posição foi digitado o primeiro valor 3.
    C) Quais foram os números pares.
"""

num_int = tuple(int(input(f'Digite o {i}º número: ')) for i in range(1,5))
print("\nNão digitou 9" if 9 not in num_int else f"\n9 aparece {num_int.count(9)} vezes")
print("\nNão digitou 3" if 3 not in num_int else f"\n3 aparece {num_int.index(3)+1}ª posição")
print("Pares ", end=' ')
for num in num_int:
  if num%2 == 0:
    print(num, end=' ')

Digite o 1º número: 5
Digite o 2º número: 9
Digite o 3º número: 3
Digite o 4º número: 9

9 aparece 2 vezes

3 aparece 3ª posição